NODE_ENV=development
NEXT_PUBLIC_API_URL="/api"
INTERNAL_API_URL="http://localhost:4000"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
# Recomendaciones de productos.
NEXT_PUBLIC_ENABLE_RECOMMENDATION_DEMO="true"
